/* Color Swatches */
$white-color: #fff;
$geyser-color: #d8e1e7;
$chatelle-color: #d7c2d8;
$camelot-color: #893250;
$viola-color: #cb99ab;
$atomic-tangerine-color: #f96;
$mona-lisa-color: #ffa799;
$light-mona-lisa-color: #ffb399;
$mandy-color: #e4495e;
$wewak-color: #f19ea9;
$perfume-color: #b8a9F5;
